.player_music{
  background-color: #0f172a !important;
  height: 120px;
}
.rhap_time, .rhap_current_time,.rhap_header{
  color: white !important;

}
::selection{
  background-color: transparent;
  color: turquoise;
}

::-webkit-scrollbar{
  width: 10px;
}
/* ::-webkit-scrollbar-track{
  background: #f1f1f1;
} */
::-webkit-scrollbar-thumb{
  background: #888;
}
::-webkit-scrollbar-thumb:hover{
  background: #555;
}